<div class="main">
    <div class="cadastro">
        <app-cadastro (resultado)="resultado($event)"></app-cadastro>
        <div>
            <p>data 18/11/2024
            </p>
            <p>
            </p>
            <p>Agenor 19549
            </p>
            <p>Ari 19390
            </p>
            <p>Cláudiomar 19540
            </p>
            <p>Claudiomiro 19382
            </p>
            <p>Darci 19544
            </p>
            <p>Dorval 19548
            </p>
            <p>Edson Ebling 19429 férias/cobertura Joel 19425
            </p>
            <p>Edson Menezes 19433
            </p>
            <p>Pavelak 19481
            </p>
            <p>Luciano 19397
            </p>
            <p>Ronaldo 19534
            </p>
            <p>
            </p>
            <p>RJ José 21788
            </p>
            <p>
            </p>
            <p>data 19/11/2024
            </p>
            <p>
            </p>
            <p>Storck 19494
            </p>
            <p>Odilon 19386
            </p>
            <p>Elisandra 20853
            </p>
            <p>Valdecir 19530
            </p>
            <p>William F 19463 ferias/cobertura Thiago M 19531
            </p>
            <p>Roberdonal 19522
            </p>
            <p>Serpa 19564
            </p>
            <p>Sara 23214
            </p>
            <p>RA Paulo 23482
            </p>
            <p>Eduardo Chavaré 19376
            </p>
            <p>Rafael S 19479
            </p>
            <p>André M 19426
            </p>
            <p>Eduardo Correa 19389
            </p>
            <p>Elcio 21640
            </p>
            <p>Paloma 19330
            </p>
            <p>Shirlei 19387
            </p>
            <p>Dilan 19780
            </p>
            <p>Jordana 19373
            </p>
            <p>
            </p>
            <p>Douglas 19435
            </p>
            <p>Gregóry 19368
            </p>
            <p>Thomas E 19372
            </p>
            <p>Tiago 23815
            </p>
            <p>Robson 19348
            </p>
            <p>Vitor 19558
            </p>
            <p>William 19375
            </p>
            <p>Kellen 23161
            </p>
            <p>Ana S 23161
            </p>
            <p>Ana F 23215
            </p>
            <p>
            </p>
            <p>Leandro 21646
            </p>
            <p>João E 194440
            </p>
            <p>Brenda 23660
            </p>
            <p>Flávio 19377
            </p>
            <p>Gilson 18287
            </p>
            <p>Daniel 23694
            </p>
            <p>Sandra 19512
            </p>
            <p>Luiz F 20463
            </p>
            <p>Igor 19874
            </p>
            <p>Antoniele 23865
            </p>
            <p>
            </p>
            <p>RA Laone 19461
            </p>
            <p>RA Douglas P 20966</p>
        </div>
    </div>
    <div>
        <div>
            @for (reg of registrosCadastrados; track $index) {
            <div class="alert alert-primary">
                <div>{{reg.data}} - <span>{{reg.status}}</span> {{reg.vigilante.nome}} {{reg.vigilante.matricula}}</div>
            </div>
            }

        </div>
        <div>
            @for (erro of erroDeCadastro; track $index) {
            <div class="alert alert-danger">
                <div>{{erro}}</div>
            </div>
            }

        </div>
    </div>
</div>
<div>
    <app-calendario></app-calendario>
</div>