.caixa{
  background-color: #b7c1f7;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.form{
  padding: 20px;
  border:1px solid rgb(51, 50, 50);
  border-radius: 20px;
  background-color: white;
}
.botao{
  display: flex;
  justify-content: center;
}
